.btn {
  margin-right: 5px; }

.markedAsDone {
  text-decoration: line-through;
  color: #777; }

.tableActions {
  width: 105px; }

.todoForm {
  padding-bottom: 60px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* CONTENT HEADER */
.screen-name {
  text-align: left;
  margin-top: 0px !important;
  font-size: 30px !important;
  float: left; }

.container {
  width: auto !important; }

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  margin-right: 10px;
  margin-bottom: 10px; }

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124; }

.btn-dark:focus {
  color: #fff; }

.breadcrumb {
  background-color: #343a40 !important;
  float: right; }

.breadcrumb-item-link {
  color: #dbdbdb !important; }

.breadcrumb-item-link:hover {
  color: #a7a7a7 !important; }

.breadcrumb-item-link-focus {
  color: #a7a7a7 !important; }

.breadcrumb-item-link-active {
  color: #a7a7a7 !important; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

body {
  background-color: #eee; }

/* Loading */
.overlay {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */ }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* Modal Dialog */
.ReactModal__Content.ReactModal__Content--after-open.modal-dialog {
  border-radius: 6px; }

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto; }

/* Form validation */
.error-input {
  border: 1px solid #c7254e; }

.popover.top {
  display: block;
  margin-top: -24px;
  left: 50%;
  width: 45%;
  background: #f9f2f4;
  border-color: #c7254e;
  color: #c7254e; }

.popover-content {
  background: #f9f2f4;
  border-color: #c7254e;
  color: #c7254e;
  font-size: 12px;
  text-align: center; }

.popover.top > .arrow {
  border-top-color: #c7254e; }

.popover.top > .arrow:after {
  border-top-color: #f9f2f4 !important;
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #fff;
  border-bottom-width: 0; }

/* Data Table */
.action-buttons {
  margin: 3px;
  float: left; }

.container-row {
  margin-right: -29px;
  margin-left: -29px; }

.data-table {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden; }
